POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=devsoc-24-backend

CLIENT_ORIGIN=http://localhost:3000
PORT=8080

ACCESS_SECRET_KEY=devsoc24access
REFRESH_SECRET_KEY=devsoc24refresh
RESET_SECRET_KEY=devsoc24reset

ACCESS_COOKIE_NAME=Y29va2luZ19hY2Nlc3NfdG9rZW4
REFRESH_COOKIE_NAME=Y29va2luZ19yZWZyZXNoX3Rva2Vu

SMTP_SERVER=smtp.mailgun.org
SMTP_PORT=587
SMTP_KEY=8d71600d2c00ac0be4eb7fd7fd3eb16a-b02bcf9f-e2e07a70
SMTP_USER=postmaster@mail.codechefvit.com

SMTP_EMAIL=support@codechefvit.com

URL=url_to_be_sent_to_mail

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
